@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

body {
  position: relative;
  min-height: 100vh;
}

pre {
    tab-size: 4;
}

hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  border-color: var(--gray);

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}

.meta,
.content-meta {
  font-family: biro_script_standardRgus, var(--bodyFont);
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}

